@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    display: flex;
    margin: 0 auto;
}

.scrolling {
    overflow-y: auto;
    width: 361px;
    min-width: 361px;
    background: url(img/naw-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-wrapper {
    display: flex;
    backdrop-filter: blur(6px) brightness(35%);
    height: min-content;
    min-height: 100%;
}

nav {
    background: #00000075;
    min-width: 75px;
    min-height: 100vh;
    margin: 0px;
    padding: 25px 0px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

nav ul li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 19px;
}

nav ul li a {
    display: block;
    width: 40px;
    height: 40px;
    background: #444;
    border-radius: 50%;
}

.nav--add-c {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    width: 100%;
    padding: 30px 0px 0px 0px;
}

.nav--add-c a {
    display: block;
    width: 40px;
    height: 40px;
    background: #444;
    border-radius: 50%;
}

.right_pannel {
    min-width: 261px;
    height: 100%;
    display: block;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.right_panne--title {
    margin: 35px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
}

.right_panne--title .right_panne--title-block {
    padding: 0px 0px 0px 25px;
}

.right_panne--title .right_panne--title-block span {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
}

.right_panne--title .right_panne--nav-btn {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.right_panne--title .right_panne--nav-btn a {
    display: block;
    width: 14px;
    height: 15px;
    background: url("img/setting.png") center center;
}

.right_panne--channels {
}

.right_panne--channels-title {
    display: flex;
    justify-content: space-between;
    color: #bdbdbd;
    padding: 0px 25px 10px 25px;
    margin-top: 30px;
}

.right_panne--channels-title span {
    font-size: 12px;
    text-transform: uppercase;
}

.right_panne--channels ul {
    margin: 0px;
    list-style-type: none;
    padding: 0px 25px;
}

.right_panne--channels ul li {
}

.right_panne--channels ul li a {
    color: #bdbdbd;
    height: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 4px;
}

.right_panne--channels ul li a:hover {
    color: #fff;
    background: #838383;
}

.right_panne--friends {
}

.right_panne--friends-title {
    display: flex;
    justify-content: space-between;
    color: #bdbdbd;
    padding: 0px 25px 15px 25px;
    margin-top: 30px;
}

.right_panne--friends-title span {
    font-size: 12px;
    text-transform: uppercase;
}

.right_panne--friends ul {
    margin: 0px;
    list-style-type: none;
    padding: 0px 25px;
}

.right_panne--friends ul li {
    margin: 0px 0px 10px 0px;
}

.right_panne--friends ul li a {
    color: #bdbdbd;
    height: 33px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 4px;
}
.right_panne--friends ul li a span {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #aaa;
    margin: 0px 7px 0px 0px;
}

.right_panne--friends ul li a h5 {
    font-weight: 500;
    margin: 0px 0px 0px 15px;
}

.right_panne--friends ul li a:hover {
    color: #fff;
}

.dialogs_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-height: 100%;
}

.general {
    width: 100%;
    align-items: center;
    display: flex;
    border-bottom: #bdbdbd solid 2px;
    justify-content: space-between;
    height: 10vh;
    max-height: 10vh;
    min-height: 10vh;
    box-sizing: border-box;
}

.general_left {
    padding: 0px 0px 8px 6px
}

.general_left span {
    font-size: 20px;
    font-weight: bold;
    padding: 0px 0px 0px 22px;
}

.general_left img {
    opacity: 0.4;
    height: 15px;
    width: 15.5px;
    padding: 0 0 0 5.5px;
}

.search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search img {
    opacity: 24%;
    width: 20px;
    height: 20px;
}

.textbox {
    background: #FFF url("https://img.icons8.com/material-outlined/24/000000/search--v1.png") no-repeat 3px 3px;
    border: 0.5px solid rgba(0, 0, 0, 0.24);
    outline: 0;
    padding-left: 25px;
    height: 33px;
    width: 241px;
    margin-left: 24px;
    margin-right: 25px;
    border-radius: 7px;
    background-position: bottom 5px right 8.5px;

}

search > span {
    padding: 0 10px 0 10px;
    color: #bdbdbd;
}

.messages {
    width: 100%;
    height: 89%;
    background: #8cdfff;
}

.message-wr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1 0 auto;
    align-items: end;
    overflow-y: auto;
    height: 80vh;
    max-height: 80vh;
    min-height: 80vh;
}

.message {
    display: flex;
    padding: 18px 0px;
    width: 100%;
}

.message-img {
    padding: 0px 0px 0px 25px;
}

.message-content {
    padding: 0px 25px 0px 0px;
}

.message-userdata {
    padding: 0px 0px 0px 10px;
}

.message-userdata a {
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    padding: 0px 8.5px 0px 0px;
}

.message-userdata span {
    font-size: 12px;
    font-weight: 400;
    color: #bdbdbd;
}

.messages-text {
    padding: 2px 0px 2px 10px;
    height: 10vh;
    max-height: 10vh;
    min-height: 10vh;
}

.messages-text p {
    font-size: 13px;
    font-weight: 400;
    margin: 0px 0px 0px 0px;
}

.message-submit {
    flex: 0 0 auto;
}

.message-submit form {
    position: relative;
}

.messages-text {
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.message-input {
    border-top: #bdbdbd solid 2px;
}

.btn-message {
    position: absolute;
    right: 10px;
    top: 25px;
    border: none;
    background: url("https://img.icons8.com/material-sharp/24/000000/filled-sent.png") no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
}